html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgba(255, 255, 255, 0.822);
    color: green;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 50;
}

#logo img{
    width: 50px;
    position: absolute;
    margin-top: 4px;
    margin-left: 13px;
}

#menu{
    float: right;
    margin-right: 30px;
    list-style: none;
    margin-top: 0%;
    margin-bottom: 0%;
}

li{
    float: left;
    padding: 20px 20px 22px 20px;    
}

li:hover{
    background-color: rgb(0, 194, 0);
}

li a{
    text-decoration: none;
    color: rgb(1, 58, 1);
}

#imagemfundo{
    background-image: url(img/fundo8.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;

}

#titulo{
    color: white;
    padding-top: 9%;
    font-size: 150px;
    margin: 0%;
    text-shadow: 2px 2px 4px black;
}

#titulo2{
    color: white;
    padding-top: 0%;
    font-size: 50px;
    margin: 0%;
    text-shadow: 2px 2px 4px black;
}

#subtitulo{
    color: white;
    font-size: 130%;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px white solid;
    text-shadow: 2px 2px 4px black;

}

#acao{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.459);
    border: 2px white solid;
    border-radius: 20px;    
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    text-decoration: none;

}

.icone{
    width: 55px;
    padding: 20px;
}

.destaque{
    background-color: rgb(0, 194, 0);
    color: white;
}

section{
    padding: 20px;
    float: left;
    text-align: center;
}

.imgeco{
    width: 80%;
}

#acao:hover{
    background-color: rgba(255, 255, 255, 0.719);
    font-weight: 545;
}

.icone:hover{
    background-color: rgba(0, 255, 0, 0.281);
    border-radius: 23px;
}

img:hover{
    transform: scale(1.022);
}

img{
    transition: 500ms;
}

.coluna{
    float: left;
    padding: 0% 5%;
    position: relative;
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0% 2%;
}

.quatro{
    width: 15%;
}

#sobre img{
    width: 100%;
}

footer{
    background-color: rgb(0, 194, 0);
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}